---
layout: archive
title: "Presentations & Invited Talks"
permalink: /talks/
author_profile: true
---

**2024**
- 18th International Conference on Computational and Financial Econometrics (CFE-CMStatistics 2024), King's College London, London, UK
- NBER-NSF Time Series Conference 2024, University of Pennsylvania, Philadelphia, PA, United States
- 16th Society for Financial Econometrics Annual Conference (SoFiE 2024), Pontifical Catholic University of Rio de Janeiro, Rio de Janeiro, Brazil
- Virtual Workshop for Junior Researchers in Time Series (VTSS Workshop 2024) [virtual]

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
